<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/theOtherLayout}">

<head>
    <meta charset="UTF-8">
    <title>노담지킴이 커뮤니티</title>

    <link rel="stylesheet" th:href="@{/css/layout/theOtherLayout.css}" >

    <link rel="stylesheet" th:href="@{/css/pages/community/postViewPage.css}" >
    <link rel="stylesheet" th:href="@{/css/pages/community/postWritePage.css}" >

    <script th:src="@{/js/pages/community/community.js}"></script>
</head>

<body>

    <div layout:fragment="content">
        <div class="indexContentDiv">
            <div class="contentDiv">
                <div class="contentLeftDiv"></div>

                <div class="contentCenterDiv">
                    <div class="commnuityDiv1">
                        <div class="commnuityTextDiv">
                            <p class="mainText">노담노담 커뮤니티</p>
                            <p class="subText">#담배는 노답, #나는 노담! 우리 함께 이겨냅시다!</p>
                        </div>
                        <div class="commnuityButtonDiv">
                            <div class="commnuityButtonInnerDiv1"></div>
                            <div class="commnuityButtonInnerDiv2">
                                <button class="createPost"><a>글 작성</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="boardCommnuityDiv2">
                        <form method="POST"  action="/community/post" enctype="text/plain">
                            <div class="boardWriterDiv">
                                <div class="boardWriterTextDiv">
                                    <p class="inputTextPTag">작성자</p>
                                </div>
                                <div class="boardWriterContentDiv">
                                    <input id="writer" th:value="${#authentication.principal.user.name}" readonly>
                                </div>
                            </div>
                            <div class="boardTitleDiv">
                                <div class="boardTitleTextDiv">
                                    <p class="inputTextPTag" >제목</p>
                                </div>
                                <div class="boardTitleContentDiv">
                                    <input id="title">
                                </div>
                            </div>
                            <div class="boardContentDiv">
                                <div class="boardContentTextDiv">
                                    <p class="testareaTextPTag">내용</p>
                                </div>
                                <div class="boardContentContentDiv">
                                    <textarea name="" id="content" cols="100" rows="180"></textarea>
                                </div>
                            </div>
                            
                            <div class="boardButtonDiv">
                                <button class="boardButton" type="submit">글 등록하기</button>
                                <button class="boardButton">
                                    <a th:href="@{/community?page=1&recordSize=10}">취소</a>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="contentRightDiv"></div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="index.js"></script>

</body>
</html>