<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/theOtherLayout}">

<head>
    <meta charset="UTF-8">
    <title>노담지킴이 마이페이지</title>

    <link rel="stylesheet" th:href="@{/css/layout/theOtherLayout.css}" >
    <link rel="stylesheet" th:href="@{/css/pages/accounts/find/accountsFind.css}" >

    <script th:src="@{/js/pages/main/mainPage.js}"></script>
    <script th:src="@{/js/pages/accounts/find/accountsFind.js}"></script>
</head>

<body>

<div layout:fragment="content">
    <div class="indexContentDiv">
        <div class="contentDiv">
            <div class="contentLeftDiv"></div>

            <div class="contentCenterDiv">
                <div class="findDiv">
                    <div class="findHeadTextDiv">
                        <p><a class="findIdHeadText" th:href="@{/accounts/findId}">아이디 찾기</a> / <a class="findPwHeadText" th:href="@{/accounts/findPw}" style="color : rgba(240, 189, 65)">비밀번호 찾기</a></p>
                    </div>
                    <div class="findContentDiv">
                        <div class="findEmailDiv">
                            <div class="findEmailTextDiv">
                                <p><span class="findEmailHeadTextSpanTag">비밀번호 찾기</span></p>
                                <p class="findEmailHeadTextPTag2"><span class="findEmailHeadTextSpanTag2">비밀번호를 찾으실 아이디를 입력해주세요</span></p>
                            </div>
                            <div class="findEmailContentDiv">
                                <p class="nodamUserFindIdPTag">노담노담 회원 비밀번호 찾기</p>
                                <form id="findUserEmailForm" >
                                    <p class="findEmailContentPTag" id="findEmailContentPTag">
                                        <span>아이디 : </span>
                                        <input class="findEmailInput findEmailInputInFindPw" id="email" placeholder="비밀번호를 찾으시는 아이디(이메일)를 입력해주세요.">
                                        <button type="button" onclick="findUserEmailInFindPw()">비밀번호 찾기</button>
                                    </p>
                                    <p class="certificationNumberPTag" id="certificationNumberPTag">
                                        <span>인증번호 : </span>
                                        <input class="certificationNumberInput" id="certifivationNumber" placeholder="인증번호를 입력해주세요.">
                                        <button type="button" class="certificationNumberCheckButton" id="certificationNumberCheckButton" onclick="certificate()">인증번호 확인</button>
                                    </p>
                                </form>
                                <p class="nodamSocialUserFindIdPTag">소셜로그인 비밀번호 찾기</p>
                                <div class="nodamSocialUserFindIdDiv">
                                    <p>카카오 아이디 비밀번호 찾기 :
                                        <a th:href="@{https://accounts.kakao.com/weblogin/find_password?continue=https%3A%2F%2Fkauth.kakao.com%2Foauth%2Fauthorize%3Fscope%3Dprofile_nickname%2520profile_image%2520account_email%2520gender%2520age_range%2520birthday%26response_type%3Dcode%26state%3DBXBct9njVI5o4V6SAWMdP8kL2gwmdjoTl7DekpnQq1I%253D%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%253A8080%252Flogin%252Foauth2%252Fcode%252Fkakao%26through_account%3Dtrue%26client_id%3D54ea261cae42b69128901f446f7ad6f8}">
                                            <img class="kakaoSocialUserFindImg" th:src="@{/images/kakaotalkLogoIcon.ico}"></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contentRightDiv"></div>
        </div>
    </div>
</div>



</body>
</html>