<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/theOtherLayout}">

<head>
    <meta charset="UTF-8">
    <title>노담지킴이 마이페이지</title>

    <link rel="stylesheet" th:href="@{/css/otherMenuLayout.css}" >
    <link rel="stylesheet" th:href="@{/css/pages/accounts/mypage/mypage.css}" >

    <script th:src="@{/js/pages/main/mainPage.js}"></script>
    <script th:src="@{/js/pages/accounts/mypage/mypage.js}"></script>
</head>

<body>

<div layout:fragment="content">
    <div class="indexContentDiv">
        <div class="contentDiv">
            <div class="contentLeftDiv"></div>

            <div class="contentCenterDiv">

            </div>

            <div class="contentRightDiv"></div>
        </div>
    </div>
</div>


</body>
</html>