<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
      <div th:fragment="footer">
          <div class="footerDiv">
              <div class="footerMain">
                  <div class="footerImgDiv">
                      <img class="footerLogo" th:src="@{/images/logo.ico}">
                  </div>
                  <div class="footerTextDiv">
                      본격 금연 권장 프로젝트<br>
                      우리 모두의 건강을 위해 금연합시다
                  </div>
                  <div class="copyRightText">
                      Copyright by 멀캠에서 코딩하조., Ltd. All rights reserved.
                  </div>
              </div>
          </div>
      </div>
</body>
</html>v